@page "/Intervenant/Parcours/Etapes/{etapeID}/Ajouter"
@model Myquest.Pages.Intervenant.AjouterChapitresEtapesModel

@{
    ViewData["Title"] = "Ajout Chapitre";
}

<h1 class="text-2xl py-6 text-center">Ajouter un chapitre</h1>
<form class="block max-w-max mx-auto my-4">
    <p>
        Titre: <input type="text" name="search" value=@Model.CurrentFilter />
        <select asp-items="Model.Options" name="coursID"></select>
        <input type="submit" value="Filter"  class="text-sm bg-primary hover:bg-dark-primary text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"/>
    </p>
</form>
<form method="post">
    <input type="hidden" asp-for=@Model.Etape.ID/>
    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Id</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm"><a asp-page="./Ajouter" asp-route-etapeID=@Model.Etape.ID asp-route-sortOrder=@Model.TitreSort>
                    Titre @Model.indicateurTri
                </a></th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Cours</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Choisir</th>
            </tr>
        </thead>
        <tbody>
        @{int count = 0;}
        @foreach(var chapitre in Model.Chapitres)
        {
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => chapitre.ID)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => chapitre.Titre)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => chapitre.Cours.Titre)
                </td>
                <td class="text-left py-3 px-4">
                    <input name="SelectedChapitres" type="checkbox" value="@chapitre.ID" />Ajouter<br />
                </td>
            </tr>
            count = count + 1;
        }
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td colspan="5" class=" py-3 px-4">
                    <button class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Ajouter les chapitres</button>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="py-4 ml-6"><a asp-page="./Index" asp-route-etapeID="@Model.Etape.ID" class="text-primary hover:underline">Retour a la liste des chapitres</a></p>
</form>