@page "/Intervenant/Parcours/Etapes/{etapeID?}/{handler?}"
@model MyQuest.Pages.Intervenant.Parcour.Etapes.IndexModel

@{
    ViewData["Title"] = "Etape";
}


<h1 class="text-2xl py-6 text-center">Chapitres de l'etape : @Model.Etape.Titre</h1>

<table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
    <thead class="bg-gray-800 text-white">
        <tr>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                Nom
            </th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    @{int count = 0;}
    @foreach (var item in Model.Chapitres) {
        <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
            <td class="text-left py-3 px-4">
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td class="text-left py-3 px-4">
                <a asp-page="../../Chapitres/Index" asp-route-chapitreID="@item.ID" asp-route-FromEtape="@Model.Etape.ID" ><button type="button" class="mr-3 mb-2 text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Afficher</button></a>
                <form method="post" asp-page-handler="Delier" asp-route-etapeID="@Model.Etape.ID" asp-route-chapitreID="@item.ID"><button type="submit" class="text-sm bg-red-500 hover:bg-red-700 text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Supprimer</button></form>
            </td>
        </tr>
        count = count + 1;
    }
        <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td colspan="5" class=" py-3 px-4">
                    <button class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Ajouter" asp-route-etapeID=@Model.Etape.ID>Ajouter un chapitre</a></button>
                </td>
            </tr>
    </tbody>
</table>

<p class="py-4 ml-6"><a asp-page ="../Index" asp-route-parcoursID="@Model.Etape.ParcoursID" class="text-primary hover:underline">Retour à la liste des étapes</a></p>