﻿<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>@ViewData["Title"] - MyQuest</title>
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="min-h-screen bg-gray-200 min-w-max w-full">
    <div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
        <div class="flex flex-col w-full md:w-64 text-gray-700 bg-primary flex-shrink-0 ">
            <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
                <a asp-page="/Index" class="w-full text-center tracking-tight text-lg font-semibold tracking-widest text-white uppercase rounded-lg focus:outline-none focus:shadow-outline">My Quest</a>
                <button class="rounded-lg md:hidden rounded-lg focus:outline-none focus:shadow-outline" >
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6" id="menu-toggle">
                    <path id="open-menu-icon" style="fill: white" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    <path id="close-menu-icon" style="fill: white" class="hidden" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
                </button>
            </div>
            <nav class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto md:visible hidden" id="menu-dropdown">
                <partial name="_LoginPartial"/>
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:bg-dark-primary focus:outline-none focus:shadow-outline" asp-page="/Apprenant/Index">Apprenant</a>
                <a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:bg-dark-primary focus:outline-none focus:shadow-outline" asp-page="/Intervenant/Index">Intervenant</a>
            </nav>
        </div>
        <div class="w-full">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#open-menu-icon").toggleClass("hidden");
            $("#close-menu-icon").toggleClass("hidden");
            $("#menu-dropdown").toggleClass("hidden");
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
