﻿@if (User.Identity.IsAuthenticated)
{
<span class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent">@User.FindFirst("name").Value</span>
<a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:bg-dark-primary focus:outline-none focus:shadow-outline" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Deconnexion</a>
}
else
{
<a class="block px-4 py-2 mt-2 text-sm font-semibold text-white bg-transparent rounded-lg hover:bg-dark-primary focus:outline-none focus:shadow-outline" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Connexion</a>
}
