@model MyQuest.Pages.Intervanant.Quizz.Questions.ModifierModel
@using MyQuest.Models

<form>
@for (int i = 0; i < @Model.Question.Reponses.Count(); i++)
{

  <tr>
      <input asp-for="Question.Reponses[i].ID" type="hidden"/>
      <td><input asp-for="Question.Reponses[i].Enonce" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"/></td>
      @if(Model.Question.Type_Reponse == TypeReponse.Multi_Reponse){
        <td><input asp-for="Question.Reponses[i].Valide" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"/></td>
      }
      else
      {
        <td><input asp-for="Question.Reponses[i].Valide" onClick="radio(@i)" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500 radio @i"/></td>
      }
      <td><input asp-for="Question.Reponses[i].Valeur" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"/></td>
      @if(Model.Question.Type_Reponse != TypeReponse.Vrai_Faux)
      {
      <td><button type="button" Onclick="removeReponse(@i)" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"> - </button></td>
      }
  </tr>
}
</form>