@page "/Intervenant/Cours/Chapitres/Quiz/{quizID}/Ajouter"
@model MyQuest.Pages.Intervanant.Quizz.Questions.CreerModel
@using MyQuest.Models

@{
    ViewData["Title"] = "Creer Question";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Ajouter une question</h1>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-6">
            <label asp-for="Question.Enonce" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Question.Enonce" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Question.Enonce" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Question.Type_Reponse" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <select asp-for="Question.Type_Reponse" asp-items="Html.GetEnumSelectList<TypeReponse>()" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
            </select>
            <span asp-validation-for="Question.Type_Reponse" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Question.Niveau" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <select asp-for="Question.Niveau" asp-items="Html.GetEnumSelectList<Difficulte>()" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
            </select>
            <span asp-validation-for="Question.Niveau" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <input type="submit" value="Créer" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-primary hover:bg-dark-primary rounded-md focus:bg-primary focus:outline-none" />
        </div>
    </form>
    <p class="pb-6">
        <a asp-page="../Index" asp-route-quizID="@Model.Question.QuizID" class="text-primary hover:underline">Retour à la liste des quiz</a>
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</script>
}