@page "/Quiz/Questions/{questionID}/{handler?}"
@model MyQuest.Pages.Intervanant.Quizz.Questions.ModifierModel
@using MyQuest.Models

@{
    ViewData["Title"] = "Modifier";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Ajouter une réponse</h1>
    </div>
    <form method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for=Question.ID type=hidden>
        <div class="mb-6">
            <label asp-for="Question.Enonce" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Question.Enonce" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Question.Enonce" class="text-danger"></span>
        </div>
            <div class="mb-6">
            <label asp-for="Question.Type_Reponse" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <select asp-for="Question.Type_Reponse" asp-items="Html.GetEnumSelectList<TypeReponse>()" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
            </select>
            <span asp-validation-for="Question.Type_Reponse" class="text-danger"></span>
        </div>
            <div class="mb-6">
            <label asp-for="Question.Niveau" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <select asp-for="Question.Niveau" asp-items="Html.GetEnumSelectList<Difficulte>()" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
            </select>
            <span asp-validation-for="Question.Niveau" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Question.Poids" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Question.Poids" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Question.Poids" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Question.Max_Penalite" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Question.Max_Penalite" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Question.Max_Penalite" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Question.Reponses" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Question.Reponses[0].Enonce)</th>
                        <th>@Html.DisplayNameFor(model => model.Question.Reponses[0].Valide)</th>
                        <th>@Html.DisplayNameFor(model => model.Question.Reponses[0].Valeur)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list">
                    <partial name=_ListReponsePartial model=@Model></partial>
                </tbody>
            </table>
            @if(Model.Question.Type_Reponse != TypeReponse.Vrai_Faux)
            {
            <button type="button" Onclick="addReponse()" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"> + </button>
            }
        </div>
        <div class="mb-6">
            <label asp-for="Question.Justification" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Question.Justification" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Question.Justification" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Question.Active" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Question.Active" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Question.Active" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <input type="submit" value="Sauvegarder" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-primary hover:bg-dark-primary rounded-md focus:bg-primary focus:outline-none"/>
        </div>  
    </form>
    <p class="pb-6">
        <a asp-page="../Index" asp-route-quizID=@Model.Question.QuizID class="text-primary hover:underline">Retour à la liste des quiz</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    function radio(id) {
        $('.radio').eq(id).prop('checked', true);
        $('.radio').slice(0,id).prop('checked', false);
        $('.radio').slice(id+1).prop('checked', false);
    }

    function addReponse() {
        $.ajax({
                type: "Post",
                url: "./Modifier/AddReponsePartial",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: { questionID: @Model.Question.ID },
                success: function (res) {
                    $('#list').html(res);
                }
            })
    }

    function removeReponse(id) {
        $.ajax({
                type: "Post",
                url: "./Modifier/RemoveReponsePartial",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: { questionID: @Model.Question.ID,
                        reponseIndex: id},
                success: function (res) {
                    $('#list').html(res);
                }
            })
    }
</script>
}
