  @page "/Apprenant/Quiz/{quizID}"
@model MyQuest.Pages.Apprenant.PasserModel

@{
    ViewData["Title"] = "Quiz";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
      <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">@Model.Quiz.Titre</h1>
    </div>
    <div class="my-3 text-center text-lg">
      @if (Model.Evaluation.NombrePassage <= 0)
      {
        <p>Premier passage</p>
      }
      else
      {
        <p>Passage : @Html.ValueFor(model => model.Evaluation.NombrePassage)</p>
        <p>Meilleur Score : @Html.ValueFor(model => model.Evaluation.MeilleurScore)</p>
        <p>Dernier passage le : @Html.ValueFor(model => model.Evaluation.DateHeure)</p>
      }
      <p class="my-3"> Text to speech: <input id="ttspButton" type="button" value="Désactiver" class="text-sm bg-primary hover:bg-dark-primary  text-white py-1 px-1 rounded focus:outline-none focus:shadow-outline"/></p>
    </div>
    <div class="my-3">
      @if (Model.CurrentScore != null)
      {
        <p>Score : @Model.CurrentScore </p>
      }
    </div>

  <form method="post">
      @for (var q = 0; q < @Model.Questions.Count(); q++)
      {
        <div class="mb-6 border-t-2 border-gray-300">
          <div class="mb-2">
            <input type="hidden" asp-for="Questions[q].ID" />
            <label id="@(q+1)" for="Questions[q].ID" class="block mb-2 text-lg text-gray-900 dark:text-gray-400">@Model.Questions[q].Enonce</label>
            <img  class="boutonEcoute" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" alt="Ecouter" width="20" height="20"/>
          </div>

        @for (var r = 0; r < @Model.Questions[q].Reponses.Count(); r++)
        {
          <div>
            <input type="hidden" asp-for="Questions[q].Reponses[r].ID"/>
            <label id="@(r+1)" asp-for="Questions[q].Reponses[r].Choisi" class="inline-block mb-2 text-sm text-gray-600 dark:text-gray-400">@Model.Questions[q].Reponses[r].Enonce</label>
            <input type="checkbox" asp-for="Questions[q].Reponses[r].Choisi"  class="ml-2 align-middle px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <img  class="boutonEcouteRep" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/1024px-Speaker_Icon.svg.png" alt="Ecouter" width="20" height="20"/>
          </div>
        }
        @if(Model.Questions[q].Erreur && Model.Questions[q].Justification != null){
          <p>@Model.Questions[q].Justification</p>
        }
        </div>
      }

    @if (Model.CurrentScore == null)
    {
      <input type="submit" value="Valider" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-primary hover:bg-dark-primary rounded-md focus:bg-primary focus:outline-none"/>
    }
    else
    {
      <p class="pb-6">
        <a asp-page="../Chapitres/Index" asp-route-chapitreID="@Model.Quiz.ChapitreID"class="text-primary hover:underline">Retour au chapitre</a>
      </p>
    }
  </form>
</div>


<script>
  $(function(){
  $("#ttspButton").click(function(){
    if($("#ttspButton").val() == "Activer"){
      $("#ttspButton").prop("value","Désactiver")
      $(".boutonEcoute").show();
      $(".boutonEcouteRep").show();
    }else{
      $("#ttspButton").prop("value","Activer")
      $(".boutonEcoute").hide();
      $(".boutonEcouteRep").hide();
    }

  })
  if ('speechSynthesis' in window) {

      $(".boutonEcoute").click(function(){
        console.log($(this));
        var text = $(this).prev("label").text();
        var num = $(this).prev("label").first().attr('id');
        var msg = new SpeechSynthesisUtterance();
        var voices = window.speechSynthesis.getVoices();
        msg.voice = voices[6];
        msg.lang = "fr-FR"
        msg.rate = 1;
        msg.pitch = 1;
        msg.text = "Question "+ num+". "+text;


        speechSynthesis.speak(msg);
      })

      $(".boutonEcouteRep").click(function(){
        console.log($(this));
        var text = $(this).siblings("label").text();
        var num = $(this).siblings("label").attr('id');
        var msg = new SpeechSynthesisUtterance();
        var voices = window.speechSynthesis.getVoices();
        msg.voice = voices[6];
        msg.lang = "fr-FR"
        msg.rate = 1;
        msg.pitch = 1;
        msg.text = "Reponse "+ num+". "+text;


        speechSynthesis.speak(msg);
      })

  } else {
    $('#modal1').openModal();
  }
});
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>