@page "/Intervenant/Cours/Chapitres/{chapitreID}/Ajouter"
@model MyQuest.Pages.Intervenant.Chapitres.AjouterModel

@{
    ViewData["Title"] = "Ajouter Contenu";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Ajouter un contenu</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-6">
            <label asp-for="Contenu.Nom" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Contenu.Nom" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Contenu.Nom" class="text-danger"></span>
        </div>
        @* <div class="mb-6">
            <input class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" type="file" asp-for="File"/>
        </div> *@
        <div class="mb-6">
            <label asp-for="Contenu.Url" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Contenu.Url" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Contenu.Url" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Contenu.Type" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Type : </label>
            <select asp-for="Contenu.Type" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
                <option selected>Texte</option>
                <option>Video</option>
                <option>Image</option>
            </select>
        </div>
        <div class="mb-6">
            <input type="submit" value="Ajouter un contenu" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-primary hover:bg-dark-primary rounded-md focus:bg-primary focus:outline-none" />
        </div>
    </form>
    <p class="pb-6">
        <a asp-page="./Index" asp-route-chapitreID = "@Model.Contenu.ChapitreID" class="text-primary hover:underline">Retour à la liste des contenus</a>
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
