@page "/Intervenant/Cours/Chapitres/{chapitreID}/{handler?}"
@model MyQuest.Pages.Intervenant.Chapitres.IndexModel

@{
    ViewData["Title"] = "Chapitre";
}

<h1 class="text-2xl py-6 text-center">Vos contenus</h1>
<div class="lg:max-w-none md:max-w-min sm:max-w-screen-sm max-w-min md:px-4 mx-auto">
    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Contenu[0].Nom)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Contenu[0].Url)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Contenu[0].Type)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @{int count = 0;}
        @foreach (var item in Model.Contenu) {
            <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td class="text-left py-3 px-4">
                    <a target="_blank" href="@item.Url" class="text-primary hover:underline">Lien</a>
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="text-left py-3 px-4">
                    <form method="post"><button asp-page-handler="Supprimer" asp-route-contenuID=@item.ID class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Supprimer</button></form>
                </td>
            </tr>
            count = count + 1;
        }
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td colspan="5" class=" py-3 px-4">
                    <a asp-page="./Ajouter" asp-route-chapitreID = "@Model.Chapitre.ID"><button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Ajouter du contenu</button></a>
                </td>
            </tr>
        </tbody>
    </table>


    <h1 class="text-2xl py-6 text-center">Quiz</h1>

    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Chapitre.Quiz.Titre)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Chapitre.Quiz.Questions)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Chapitre.Quiz.Publique)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Chapitre.Quiz.Max_Question)
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Chapitre.Quiz != null)
            {
            <tr>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(model => model.Chapitre.Quiz.Titre)
                </td>
                <td class="text-left py-3 px-4">
                    @Model.Chapitre.Quiz.Questions.Count()
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(model => model.Chapitre.Quiz.Publique)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(model => model.Chapitre.Quiz.Max_Question)
                </td>
            </tr>
            }
            <tr class="bg-gray-100">
                <td colspan="5" class="py-3 px-4">
                    @if(Model.Chapitre.Quiz == null)
                    {
                    <a asp-page="../Quizz/Creer" asp-route-chapitreID="@Model.Chapitre.ID">
                        <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Creer</button>
                    </a>
                    }
                    else
                    {
                    <a asp-page="../Quizz/Index" asp-route-quizID="@Model.Chapitre.Quiz.ID">
                        <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Voir</button>
                    </a>
                    <a asp-page="../Quizz/Modifier" asp-route-quizID="@Model.Chapitre.Quiz.ID">
                        <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Modifier</button
                    </a>
                    <a asp-page="../Quizz/Supprimer" asp-route-quizID="@Model.Chapitre.Quiz.ID">
                        <button type="button" class="text-sm bg-red-500 hover:bg-red-700  text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Supprimer</button>
                    </a>
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <p class="py-4 ml-6">
        @if (Model.FromEtape == null)
        {
        <a asp-page="../Cour/Index" asp-route-coursID="@Model.Chapitre.CoursID" class="text-primary hover:underline">Retour à la liste des chapitres</a>
        }
        else
        {
        <a asp-page="../Parcour/Etapes/Index" asp-route-etapeID="@Model.FromEtape" class="text-primary hover:underline">Retour à l'étape</a>
        }
    </p>
</div>
