@page "/Intervenant/Cours/Chapitres/Quiz/{quizID?}"
@model MyQuest.Pages.Intervanant.Quizz.IndexModel

@{
    ViewData["Title"] = "Liste Question";
}

<h1 class="text-2xl py-6 text-center">Vos contenus</h1>
<div class="lg:max-w-none md:max-w-min sm:max-w-screen-sm max-w-min md:px-4 mx-auto">
    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    <label asp-for="Questions[0].Enonce"></label>
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    <label asp-for="Questions[0].Poids"></label>
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Nombre de réponses
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    <label asp-for="Questions[0].Niveau"></label>
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    <label asp-for="Questions[0].Active"></label>
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @{int count = 0;}
        @foreach (var question in Model.Questions) {
            <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => question.Enonce)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => question.Poids)
                </td>
                <td class="text-left py-3 px-4">
                    @question.Reponses.Count()
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => question.Niveau)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => question.Active)
                </td>
                <td>
                    <a asp-page="./Questions/Modifier" asp-route-questionID=@question.ID>
                        <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Modifier</button>
                    </a>
                    <form method="post" class="inline">
                        <button type="button" asp-page-handler="Supprimer" asp-route-questionID=@question.ID class="text-sm bg-red-500 hover:bg-red-700  text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Supprimer</button>
                    </form>
                </td>
            </tr>
            count = count + 1;
        }
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td colspan="6" class=" py-3 px-4">
                    <a asp-page="./Questions/Creer" asp-route-quizID=@Model.Quiz.ID class="text-primary hover:underline"><button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Ajouter question</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p class="py-4 ml-6">
    <a asp-page="../Chapitres/Index" asp-route-chapitreID="@Model.Quiz.ChapitreID" class="text-primary hover:underline">Retour au chapitre</a>
</p>