@page "/Quiz/{quizID}/Supprimer"
@model MyQuest.Pages.Intervanant.Quizz.SupprimerModel;

@{
    ViewData["Title"] = "Suppression";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Êtes-vous sûr de supprimer ce quiz ?</h1>
    </div>
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b border-gray-400">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Quiz.Titre)
        </p>
        <p>
            @Html.DisplayFor(model => model.Quiz.Titre)
        </p>
    </div>
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b border-gray-400">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Quiz.Langue)
        </p>
        <p>
            @Html.DisplayFor(model => model.Quiz.Langue)
        </p>
    </div>
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Quiz.Publique)
        </p>
        <p>
            @Html.DisplayFor(model => model.Quiz.Publique)
        </p>
    </div>

    <form method="post">
        <input type="hidden" asp-for="Quiz.ID" />
        <input type="submit" value="Supprimer" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-red-700 hover:bg-red-900 rounded-md focus:bg-red-700 focus:outline-none" /><br><br>
    </form>
    <p class="pb-6">
        <a asp-page="../Chapitres/Index" asp-route-chapitreID="@Model.Quiz.ChapitreID" class="text-primary hover:underline">Retour au chapitre</a>
    </p>
</div>
