@page
@model MyQuest.Pages.Apprenant.IndexModel

@{
    ViewData["Title"] = "Cours";
}

<h1 class="text-2xl py-6 text-center">Vos cours</h1>
<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white lg:text-lg md:text-base sm:text-sm text-xs">
    <ul class="pb-4 pt-8">
    @* @{int count = 0;} *@
    @foreach (var cours in Model.Cours) {
        <li class="text-dark-primary"> @Html.DisplayFor(modelItem => cours.Titre) - @Html.DisplayFor(modelItem => cours.Libelle) @*- <span class="underline text-dark" id="li-@count">Voir les chapitres</span>*@</li>
        <ul class="mb-4" @*id="ul-@count" *@>
            @foreach (var chapitre in cours.Chapitres) {
                <li class="ml-8 text-gray-700">
                    @Html.DisplayFor(modelItem => chapitre.Numero) - @Html.DisplayFor(modelItem => chapitre.Titre ) - <a class="hover:underline text-primary" asp-page="./Chapitres/Index" asp-route-chapitreID="@chapitre.ID">Voir le chapitre </a>
                </li>
            }
        </ul>
        @* count = count + 1; *@
    }
    </ul>
</div>

<h1 class="text-2xl py-6 text-center">Vos parcours</h1>
<div class="mx-auto mt-4 rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white lg:text-lg md:text-base sm:text-sm text-xs">
    <ul class="pb-4 pt-8">
    @foreach (var parcours in Model.Parcours) {
        <li class="text-dark-primary"> @Html.DisplayFor(modelItem => parcours.Titre) - @Html.DisplayFor(modelItem => parcours.Libelle)</li>
        <ul class="mb-4">
            @foreach (var etape in parcours.Etapes) {
                <li class="ml-8 text-gray-700">
                    <span>@Html.DisplayFor(modelItem => etape.Numero) - @Html.DisplayFor(modelItem => etape.Titre )</span>
                    <ul>
                        @foreach (var chapitre in etape.Chapitres) {
                            <li class="ml-8 text-gray-700">
                                @Html.DisplayFor(modelItem => chapitre.Numero) - @Html.DisplayFor(modelItem => chapitre.Titre ) - <a class="hover:underline text-primary" asp-page="./Chapitres/Index" asp-route-chapitreID="@chapitre.ID">Voir le chapitre </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }
    </ul>
</div>

@* <script>
    $("#li-0").click(function(e) {
        e.preventDefault();
        $("#ui-0").toggleClass("hidden");
    });
</script>    *@

