@page
@model MyQuest.Pages.Intervenant.IndexModel

@{
    ViewData["Title"] = "Cours";
}
<div>
    <h1 class="text-2xl py-6 text-center">Vos cours</h1>
    <div class="sm:max-w-none max-w-min w-full md:px-4 mx-auto">
        <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="lg:w-1/5 w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
                        @Html.DisplayNameFor(model => model.Cours[0].Titre)
                    </th>
                    <th class="lg:w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm lg:table-cell hidden">
                        @Html.DisplayNameFor(model => model.Cours[0].Libelle)
                    </th>
                    <th class="lg:w-1/5 w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
                        @Html.DisplayNameFor(model => model.Cours[0].Chapitres)
                    </th>
                    <th class="lg:w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm lg:table-cell hidden">
                        @Html.DisplayNameFor(model => model.Cours[0].Publique)
                    </th>
                    <th class="lg:w-1/5 w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
        @{int count = 0;}
        @foreach (var cours in Model.Cours) {
                <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                    <td class="lg:w-1/5 w-1/3 text-left py-3 px-4">
                        @Html.DisplayFor(modelItem => cours.Titre)
                    </td>
                    <td class="lg:w-1/5 text-left py-3 px-4 lg:table-cell hidden">
                        @Html.DisplayFor(modelItem => cours.Libelle)
                    </td>
                    <td class="lg:w-1/5 w-1/3 text-left py-3 px-4">
                        <a asp-page = "./Cour/Index" asp-route-coursID="@cours.ID" class="hover:underline text-primary">Liste des chapitres</a>
                    </td>
                    <td class="lg:w-1/5 text-left py-3 px-4 lg:table-cell hidden">
                        @Html.DisplayFor(modelItem => cours.Publique)
                    </td>
                    <td class="lg:w-1/5 w-1/3 text-left py-3 px-4">
                        <button type="button" class="mr-3 mb-2 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Cour/Modifier" asp-route-coursID="@cours.ID">Modifier</a></button>
                        <button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Cour/Supprimer" asp-route-coursID="@cours.ID">Supprimer</a></button>
                    </td>
                </tr>
                count = count + 1;
        }
                <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                    <td colspan="5" class=" py-3 px-4">
                        <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Cour/Creer">Créer un nouveau cours</a></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <h1 class="text-2xl py-6 text-center">Vos parcours</h1>
    <div class="sm:max-w-none max-w-min w-full md:px-4 mx-auto">
        <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="lg:w-1/5 w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
                        @Html.DisplayNameFor(model => model.Parcours[0].Titre)
                    </th>
                    <th class="lg:w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm lg:table-cell hidden">
                        @Html.DisplayNameFor(model => model.Parcours[0].Libelle)
                    </th>
                    <th class="lg:w-1/5 w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
                        @Html.DisplayNameFor(model => model.Parcours[0].Etapes)
                    </th>
                    <th class="lg:w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm lg:table-cell hidden">
                        @Html.DisplayNameFor(model => model.Parcours[0].Publique)
                    </th>
                    <th class="lg:w-1/5 w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
        @{count = 0;}
        @foreach (var parcours in Model.Parcours) {
                <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                    <td class="lg:w-1/5 w-1/3 text-left py-3 px-4">
                        @Html.DisplayFor(modelItem => parcours.Titre)
                    </td>
                    <td class="lg:w-1/5 text-left py-3 px-4 lg:table-cell hidden">
                        @Html.DisplayFor(modelItem => parcours.Libelle)
                    </td>
                    <td class="lg:w-1/5 w-1/3 text-left py-3 px-4">
                        <a asp-page = "./Parcour/Index" asp-route-parcoursID=@parcours.ID class="hover:underline text-primary">Liste des étapes</a>
                    </td>
                    <td class="lg:w-1/5 text-left py-3 px-4 lg:table-cell hidden">
                        @Html.DisplayFor(modelItem => parcours.Publique)
                    </td>
                    <td class="lg:w-1/5 w-1/3 text-left py-3 px-4">
                        <button type="button" class="mr-3 mb-2 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Parcour/Modifier" asp-route-parcoursID="@parcours.ID">Modifier</a></button>
                        <button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Parcour/Supprimer" asp-route-parcoursID="@parcours.ID">Supprimer</a></button>
                    </td>
                </tr>
                count = count + 1;
        }
                <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                    <td colspan="5" class=" py-3 px-4">
                        <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline"><a asp-page="./Parcour/Creer">Créer un nouveau parcours</a></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<h1 class="text-2xl py-6 text-center">Liste des groupes</h1>
<div class="lg:max-w-none md:max-w-min sm:max-w-screen-sm max-w-min md:px-4 mx-auto">
    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Groupe[0].Code)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Groupe[0].Libelle)
                </th>
                <th  class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @{count = 0;}
        @foreach (var item in Model.Groupe) {
            <tr @if(count % 2 == 1){
                            @("class=bg-gray-100");
                        }>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td class="text-left py-3 px-4">
                    <a asp-page="./Groupes/Ajouter" asp-route-groupeID="@item.ID"><button  class="text-sm bg-primary hover:bg-dark-primary text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Ajouter des membres</button></a>
                    <a asp-page="./Groupes/Supprimer" asp-route-groupeID="@item.ID"><button  class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Supprimer</button></a>
                </td>
            </tr>
            count = count + 1;
            }
                <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                    <td colspan="5" class=" py-3 px-4">
                        <a asp-page="./Groupes/Creer"><button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Creer un nouveau groupe</button></a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>