@page "/Intervenant/Parcours/{parcoursID}/Ajouter/{handler?}"
@model MyQuest.Pages.Intervanant.Parcour.AjouterModel

@{
    ViewData["Title"] = "Gestion Parcours";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Ajouter un apprenant</h1>
    </div>
    <form method="post" asp-route-parcoursID=@Model.Parcours.ID>
        <p>
            <input type="email" name="emailString" multiple class="border-2 border-gray-300 rounded-lg"/>
            <label for="intervenant">Intervenant</label>
            <input type="checkbox" name="intervanant"/>
            <input type="submit" value="Ajouter" class="btn btn-primary"class="text-sm bg-primary hover:bg-dark-primary text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" />
        </p>
    </form>

    <table class="mt-4 shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Nom
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-gray-100">
                <td colspan="2"  class="text-left py-3 px-4">Suiveurs</td>
            </tr>
        @{int count = 0;}
        @foreach (var suiveurs in Model.Parcours.Suiveurs)
        {
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td class="text-left py-3 px-4">@Html.DisplayFor(modelItem => suiveurs.Nom)</td>
                <td class="text-left py-3 px-4">
                    <form method="post" asp-page-handler="Supprimer" asp-route-individuID=@suiveurs.ID asp-route-parcoursID=@Model.Parcours.ID>
                        <input type="submit" value="Supprimer" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"/><br><br>
                    </form>
                </td>
            </tr>
            count = count + 1;
        }
        </tbody>

    </table>
    <p class="py-4 ml-6">
        <a asp-page="./Index" asp-route-parcoursID="@Model.Parcours.ID" class="hover:underline text-primary">Retour aux cours</a>
    </p>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
