@page "/Intervenant/Parcours/{parcoursID}"
@model MyQuest.Pages.Intervenant.Parcour.IndexModel

@{
    ViewData["Title"] = "Parcours";
}

<h1 class="text-2xl py-6 text-center">Etapes du parcours</h1>
<div class="lg:max-w-none md:max-w-min sm:max-w-screen-sm max-w-min md:px-4 mx-auto">
    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                Numero
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Nom
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Chapitres
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @{int count = 0;}
        @foreach (var item in Model.Etapes) {
            <tr @if(count % 2 == 1){
                            @("class=bg-gray-100");
                        }>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td class="text-left py-3 px-4">
                    <a asp-page="./Etapes/Index" asp-route-etapeID="@item.ID" class="text-primary hover:underline">Afficher</a>
                </td>
                <td class="text-left py-3 px-4">
                    <a asp-page="./Etapes/Modifier" asp-route-etapeID="@item.ID">
                        <button type="button" class="mr-3 mb-2 text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Modifier</button>
                    </a>

                    <a asp-page="./Etapes/Supprimer" asp-route-etapeID="@item.ID">
                        <button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Supprimer</button>
                    </a>
                </td>
            </tr>
            count = count + 1;
        }
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td colspan="6" class=" py-3 px-4">
                    <a asp-page="./Etapes/Creer" asp-route-ParcoursID="@Model.Parcours.ID" class="text-primary hover:underline"><button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Ajouter étapes</button></a>
                    <a asp-page="./Ajouter" asp-route-parcoursID="@Model.Parcours.ID"><button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline">Gerer le parcours</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p class="py-4 ml-6">
    <a asp-page="../Index" class="text-primary hover:underline">Retour à la liste des parcours</a>
</p>
