@page "/Intervenant/Groupes/{groupeID}/Ajouter/{handler?}"
@model MyQuest.Pages.Intervanant.Groupes.AjouterModel

@{
    ViewData["Title"] = "Ajout Membres";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Ajouter un membre</h1>
    </div>
    <form class="block max-w-max mx-auto my-4" method="post" asp-page-handler="" asp-route-groupeID=@Model.Groupe.ID>
        <p>
            <input type="email" name="emailString" multiple class="border-2 border-gray-300 rounded-lg"/>
            <input type="submit" value="Ajouter" class="text-sm bg-primary hover:bg-dark-primary text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" />
        </p>
    </form>
    
    @if(Model.Message != null){
        <p class="my-4">@Model.Message</p>
    }    

    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Nom
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
    @{int count = 0;}
    @if(Model.Groupe!=null){
        @foreach (var item in Model.Groupe.Individus)
        {
            <tr @if(count % 2 == 1){
                                @("class=bg-gray-100");
                            }>
                <td class="text-left py-3 px-4">@Html.DisplayFor(modelItem => item.Nom)</td>
                <td class="text-left py-3 px-4">
                    <form method="post" asp-page-handler="Supprimer" asp-route-individuID=@item.ID asp-route-groupeID=@Model.Groupe.ID>
                        <input type="submit" value="Delete" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline" name="supprimer"/>
                    </form>
                </td>
            </tr>
            count = count + 1;
        }
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>

                <td colspan="5" class=" py-3 px-4">
                    <form method="post" asp-page-handler="AjoutCours" asp-route-groupeID=@Model.Groupe.ID>
                        <select name="coursID" asp-items="@Model.Cours" class="border-2 border-gray-300 rounded-lg"></select>
                        <input type="submit" value="Ajouter le groupe à un cours" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline" name="AjoutCours"/>
                    </form>
                </td>
            </tr>
    }
        </tbody>

    </table>

    <p class="py-4 ml-6">
        <a asp-page="../Index" class="text-primary hover:underline">Retour aux groupes</a>
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
