@page "/Intervenant/Groupes/Creer"
@model MyQuest.Pages.Intervanant.Groupes.CreerModel

@{
    ViewData["Title"] = "Creer un groupe";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Créer un groupe</h1>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-6">
            <label asp-for="Groupe.Code" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Groupe.Code" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Groupe.Code" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Groupe.Libelle" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Groupe.Libelle" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Groupe.Libelle" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <input type="submit" value="Creer" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-primary hover:bg-dark-primary rounded-md focus:bg-primary focus:outline-none" />
        </div>
    </form>
    <p class="pb-6">
        <a asp-page="../Index" class="text-primary hover:underline">Retour aux groupes</a>
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
