@page "{chapitreID?}"
@model MyQuest.Pages.Apprenant.Chapitres.IndexModel

@{
    ViewData["Title"] = "Chapitre";
}

<h1 class="text-2xl py-6 text-center">@ViewData["Title"]</h1>

<div class="grid grid-flow-row lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 px-8">
    @for (var j = 0;j<Model.Contenu.Count; j++) {

        <div class="bg-white h-30 rounded-lg border-t-4 border-primary p-6">
            <h5 class="font-semibold uppercase">@Model.Contenu.ElementAt(j).Nom</h5>
            <p class="text-gray-800">@Model.Contenu.ElementAt(j).Type</p>
            <a target="_blank" href="@Model.Contenu.ElementAt(j).Url" class="text-primary hover:underline">Voir le fichier</a>
        </div>
    }
</div>
@if(Model.Chapitre.Quiz != null)
{
<p class="pl-8 my-6 text-center">
    <a asp-page="../Quizz/Passer" asp-route-quizID="@Model.Chapitre.Quiz.ID" class="text-primary hover:underline">Passer le quiz</a>
</p>
}
<p class="pl-8 my-6">
    <a asp-page="../Index" class="text-primary hover:underline">Retour à la liste des chapitres</a>
</p>