@page "/Intervenant/Cours/Creer"
@model MyQuest.Pages.Intervenant.Cour.CreerModel

@{
    ViewData["Title"] = "Create";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Ajouter un cours</h1>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-6">
            <label asp-for="Cours.Titre" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Cours.Titre" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Cours.Titre" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Cours.Libelle" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"></label>
            <input asp-for="Cours.Libelle" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Cours.Libelle" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Cours.Date_Debut" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Date de début :</label>
            <input asp-for="Cours.Date_Debut" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Cours.Date_Debut" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Cours.Date_Fin" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Date de fin :</label>
            <input asp-for="Cours.Date_Fin" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            <span asp-validation-for="Cours.Date_Fin" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Cours.Publique" class="inline-block mb-2 text-sm text-gray-600 dark:text-gray-400">Publique : </label>
            <input asp-for="Cours.Publique" class="ml-2 align-middle px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" checked/>
            <span asp-validation-for="Cours.Publique" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <input type="submit" value="Ajouter un cours" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-primary hover:bg-dark-primary rounded-md focus:bg-primary focus:outline-none" />
        </div>
    </form>
    <p class="pb-6">
        <a asp-page="../Index" class="text-primary hover:underline">Retour à la liste des cours</a>
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
