@page "/Intervenant/Cours/{coursID?}"
@model MyQuest.Pages.Intervenant.Cour.IndexModel

@{
    ViewData["Title"] = @Model.Cours.Titre;
}

<h1 class="text-2xl py-6 text-center">Vos chapitres</h1>
<div class="lg:max-w-none md:max-w-min sm:max-w-screen-sm max-w-min md:px-4 mx-auto">
    <table class="shadow overflow-hidden rounded border-b border-gray-200 max-w-full bg-white mx-auto">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Chapitres[0].Numero)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    @Html.DisplayNameFor(model => model.Chapitres[0].Titre)
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Fichiers
                </th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        @{int count = 0;}
        @foreach (var chapitre in Model.Chapitres) {
            <tr @if(count % 2 == 1){
                        @("class=bg-gray-100");
                    }>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => chapitre.Numero)
                </td>
                <td class="text-left py-3 px-4">
                    @Html.DisplayFor(modelItem => chapitre.Titre)
                </td>
                <td class="text-left py-3 px-4">
                    <a asp-page="../Chapitres/Index" asp-route-chapitreID=@chapitre.ID class="hover:underline text-primary">Contenus du chapitre</a>
                </td>
                <td class="text-left py-3 px-4">
                    <button type="button" class="mr-3 mb-2 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"><a asp-page="../Chapitres/Modifier" asp-route-chapitreID=@chapitre.ID>Modifier</a></button>
                    <button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"><a asp-page="../Chapitres/Supprimer" asp-route-chapitreID=@chapitre.ID>Supprimer</a></button>
                </td>
            </tr>
            count = count + 1;
        }
            <tr @if(count % 2 == 1){
                    @("class=bg-gray-100");
                }>
                <td colspan="5" class=" py-3 px-4">
                    <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline" ><a asp-page="../Chapitres/Creer" asp-route-coursID=@Model.Cours.ID>Ajouter un chapitre</a></button>
                    <button type="button" class="text-sm bg-primary hover:bg-dark-primary text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline" ><a asp-page="./Ajouter" asp-route-coursID=@Model.Cours.ID>Gerer le Cours</a></button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="py-4 ml-6">
        <a asp-page="../Index" class="text-primary hover:underline">Retour à la liste des cours</a>
    </p>
</div>

