@page "/Intervenant/Cours/{coursID}/Supprimer"
@model MyQuest.Pages.Intervenant.Cour.SupprimerModel

@{
    ViewData["Title"] = "Delete";
}

<div class="mx-auto rounded-lg w-max lg:px-20 sm:px-10 px-4 bg-white md:text-base sm:text-sm text-xs mt-8">
    <div class="text-center py-8 ">
        <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">Êtes-vous sûr de supprimer ce cours ?</h1>
    </div>
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b border-gray-400">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Cours.Titre)
        </p>
        <p>
            @Html.DisplayFor(model => model.Cours.Titre)
        </p>
    </div>
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b border-gray-400">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Cours.Libelle)
        </p>
        <p>
            @Html.DisplayFor(model => model.Cours.Libelle)
        </p>
    </div>
    @if (@Model.Cours.Chapitres.DefaultIfEmpty() == null)
    {
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b border-gray-400">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Cours.Chapitres.Count())
        </p>
        <p>
            @Html.DisplayFor(model => model.Cours.Chapitres.Count())
        </p>
    </div>
    }
    <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4">
        <p class="text-gray-600">
            @Html.DisplayNameFor(model => model.Cours.Publique)
        </p>
        <p>
            @Html.DisplayFor(model => model.Cours.Publique)
        </p>
    </div>

    <form method="post">
        <input type="hidden" asp-for="Cours.ID" />
        <input type="submit" value="Supprimer" class="w-full px-3 py-3 border-2 text-white cursor-pointer bg-red-700 hover:bg-red-900 rounded-md focus:bg-red-700 focus:outline-none" /><br><br>
    </form>
    <p class="pb-6">
        <a asp-page="../Index" class="text-primary hover:underline">Retour à la liste des cours</a>
    </p>
</div>
